<h1>Mutation testing report</h1>Killed 33 out of 57 mutants<table><thead><tr><th>File</th><th>Total</th><th>Killed</th><th>% killed</th><th>Survived</th></thead><tr><td><a href="identifier.py.html">identifier.py</a></td><td>57</td><td>33</td><td>57.89</td><td>24</td></table></body></html>